<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/login" method="post">
      <div>
        <label for="email">enter email</label>
        <input type="text" id="email" name="email" />
      </div>
      <div>
        <label for="password">enter password</label>
        <input type="password" name="password" id="password" />
      </div>
      <button>제출</button>
    </form>
  </body>
</html>
